<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webimapp.android.sdk"
    android:versionCode="3160" >

    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:allowBackup="true">
    </application>

</manifest>
